html{
    font-size: 62.5%;
}

body{
    background: url(../images/bg-desktop.svg) no-repeat;
    background-size: cover;
    background-color: var(--violet);
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #fff;
}

.header{
    display: flex;
    padding: 55px 70px;
}

.header img{
    max-height: 53px;
}

.main-content{
    display: flex;
    margin: 30px 72px 0 72px;
}

.content{
    margin: 43px 20px 53px 52px;
}

.content h1,
.content p,
.content button{
    margin-bottom: 22px;
}

.content h1{
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: 600;
}

.content p{
    font-size: 1.8rem;
    line-height: 27px;
}

.button{
    background-color: #fff;
    width: 200px;
    padding: 15px;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    color: var(--violet);
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 22px 72px;
}

.footer .social-midias{
    display: flex;
    align-self: flex-end;
}

.footer .social-midias .circle-social-midia{
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #fff ;
    margin: 0 8px;
    align-items: center;
    justify-content: center;
}

.footer .social-midias .circle-social-midia i{
    font-size: 1.6rem;
    color: #fff;
}

.footer .social-midias .circle-social-midia:hover{
    color: var(--violet);
}

@media(max-width: 375px){

    body{
        background: url(../images/bg-mobile.svg) no-repeat;
        background-color: var(--violet);
    }

    .header{
        padding: 32px;
    }

    .header img{
        height: 33px;
    }

    .main-content{
        display: block;
        margin: 30px 35px;
        text-align: center;
    }

    .main-content img{
        height: 215px;
    }

    .content{
        margin: 55px 10px 0 10px;
    }

    .content h1,
    .content p,
    .content button{
        margin-bottom: 15px;
    }

    .content h1{
        font-size: 2.4rem;
    }

    .content p{
        font-size: 1.5rem;
        line-height: 25px;
        margin-bottom: 20px;
    }

    .button{
        font-size: 1.2rem;
        padding: 10px;
    }

    .footer{
        flex-direction: row;
        justify-content: center;
        
    }

    .footer .social-midias .circle-social-midia{
        width: 27px;
        height: 27px;
        margin: 5px;
        border-width: 1px;
    }

    .footer .social-midias .circle-social-midia i{
        font-size: 1.5rem;
    }
}